
/* ELEMENTS */

html {
    position: relative;
    min-height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a {
    color: crimson;
}

footer {
    text-align: center;
    width: 100%;
    line-height: 25px;
    color: darkslategrey;
    padding: 20px;
}

/* CLASSES */

@media screen and (min-width: 900px) {
    /* breed */

    .headerimage {
        float: left;
    }

    .userinfo {
        float: right;
        text-align: left;
        font-size: 14px;
    }

    .semicontent {
        width: 50%;
        float: left;
    }

    .semipaint {
        width: 50%;
        height: 100vh;
        float: right;
        left: 0px;
        top: 0px;
        background-image: url("../img/login.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media screen and (max-width: 900px) {
    /* smal */

    .userinfo {        
        text-align: left;
        font-size: 14px;
    }

    .semicontent {
        width: 100%;
        height: 65vh;
    }
    
    .semipaint {
        width: 100%;
        height: 35vh;
        left: 0px;
        top: 0px;
        background-image: url("../img/login.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headerback {
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
    }
    
}

.create {
    padding: 20px;
}

.fullcontent {
    padding: 20px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.btn-primary {
    color: #fff;
    background-color: crimson;
    border-color: firebrick;
}

.btn-primary:hover {
    color: #fff;
    background-color: firebrick;
    border-color: black;
}


.header {
    overflow: hidden;
    padding: 20px;
}

.link-btn {
    color: crimson;
    background: transparent;
    border: none;
    padding: 0px;
}

.form {
    padding: 10%;
}

.largelink {
    font-size: 24px;
    color: crimson;
    text-decoration: none;
    border: 2px solid crimson;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
