
/* ELEMENTS */

html {
    position: relative;
    min-height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a {
    color: crimson;
}

footer {
    text-align: center;
    width: 100%;
    line-height: 25px;
    color: darkslategrey;
    padding: 20px;
}

h3 {
    font-weight: bold;
    color: darkslateblue;
}

table {
    width: 100%;
}

tr:nth-child(odd) {
    background-color: blanchedalmond;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

/* CLASSES */
@media screen and (min-width: 900px) {
    /* breed */

    .headerimage {
        float: left;
    }

    .userinfo {
        float: right;
        text-align: left;
        font-size: 14px;
    }

    .semicontent {
        width: 50%;
        float: left;
    }

    .semipaint {
        width: 50%;
        height: 100vh;
        float: right;
        left: 0px;
        top: 0px;
        background-image: url("../img/login.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headerback {
        height: auto;
        width: auto;
        max-width: 400px;
        max-height: 300px;
    }

    .highlightedcontent {
        float: left;
        width: 50%;
        padding-top: 20px;
        height: 420px;
        position: relative;
    }

    .highlightedimage {
        width: 50%;
        float: right;
        text-align: right;
        padding-top: 20px;
        padding-left: 20px;
    }

    .imagehighlight {
        max-height: 400px;
        max-width: 100%;
    }

    .collection {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .artpiece {
        width: 25%;
        height: 500px;
        padding: 10px;
        float: left;
    }

    .artpieceimage {
        background-color: whitesmoke;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .order {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    /* smal */

    .userinfo {
        text-align: left;
        font-size: 14px;
    }

    .semicontent {
        width: 100%;
        height: 65vh;
    }

    .semipaint {
        width: 100%;
        height: 35vh;
        left: 0px;
        top: 0px;
        background-image: url("../img/login.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headerback {
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
    }

    .imagepreviewbox {
        display: none;
    }

    .highlightedcontent {
        padding-top: 20px;
    }

    .highlightedimage {
        padding-top: 20px;
        text-align: center;
    }

    .imagehighlight {
        display: inline;
        max-width: 100%;
        max-height: 600px;
    }

    .artpiece {
        padding: 10px;
    }
}

.create {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.fullcontent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.btn-primary {
    color: #fff;
    background-color: crimson;
    border-color: firebrick;
}

    .btn-primary:hover {
        color: #fff;
        background-color: firebrick;
        border-color: black;
    }


.header {
    overflow: hidden;
    padding: 20px;
}

.link-btn {
    color: crimson;
    background: transparent;
    border: none;
    padding: 0px;
}

.form {
    padding: 10%;
}

.wallet {
    padding-left: 3%;
    padding-right: 3%;
}

.largelink {
    font-size: 1.50rem;
    color: white;
    text-decoration: none;
    padding-right: 6px;
    padding-left: 6px;
    margin: 10px;
    display: inline-block;
    background-color: crimson;
    border: 2px solid crimson;
}

    .largelink:hover {
        color: white;
        text-decoration: none;
        box-shadow: 0px 0.5rem 1rem rgba(0,0,0,0.15);
    }

.highlighted {
    background-color: blanchedalmond;
    margin: 10px;
    padding: 20px;
}

.imagepreview {
    display: block;
    max-width: 550px;
    max-height: 550px;
    width: auto;
    height: auto;
    border: 1px dotted grey;
    margin-top: 8px;
}

.imageartpiece {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.artpiececontent {
    padding: 10px;
}

.available {
    color: limegreen;
    font-weight: bold;
}

.notavailable {
    color: orangered;
    font-weight: bold;
}

.clear {
    clear: both;
}

.sectionheader {
    padding-left: 30px;
    padding-top: 20px;
}

.order-left {
    float: left;
    width: 50%;
}

.order-right {
    text-align: right;
    float: right;
    width: 50%;
}

#narrow-select{
    width: auto;
}
