@{
    ViewData["Title"] = "Toegang geweigerd";
}

<div class="fullcontent">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">U heeft helaas geen toegang tot deze pagina.</p>
    <a asp-controller="Home" asp-action="Index">Terug</a>
</div>
