@{
    ViewData["Title"] = "Account bevestigd";
}

<div class="semipaint">
    <!-- lege div met achtergrond -->
</div>

<div class="semicontent">
    <div class="form">
        <img class="headerback" src="~/img/header.png" alt="Novi Kunstuitleen">
        <br /><br />
        <p>
            Bedankt voor het bevestigen van uw account, klik <a asp-action="Login"><b>hier</b></a> om in te loggen.
        </p>
    </div>
</div>
