@{
    ViewData["Title"] = "Account niet bevestigd";
}

<div class="semipaint">
    <!-- lege div met achtergrond -->
</div>

<div class="semicontent">
    <div class="form">
        <img class="headerback" src="~/img/header.png" alt="Novi Kunstuitleen">
        <br /><br />
              <p>
                  Uw accountaanvraag is nog niet bevestigd. Controleer uw e-mail om uw account te bevestigen.
              </p>
        <div>
            <a asp-action="Login">Terug</a>
        </div>
    </div>
</div>
