@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Wachtwoord vergeten?";
}

<div class="semipaint">
    <!-- lege div met achtergrond -->
</div>

<div class="semicontent">
    <div class="form">
        <img class="headerback" src="~/img/header.png" alt="Novi Kunstuitleen">
        <br /><br />
              <form asp-action="ForgotPassword" method="post">
                  <h4>Wachtwoord vergeten?</h4>
                  <hr />
                  <div asp-validation-summary="All" class="text-danger"></div>
                  <div class="form-group">
                      <label>Voer uw emailadres in:</label>
                      <input asp-for="Email" class="form-control" />
                      <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
                  <button type="submit" class="btn btn-primary">Vestuur</button>
              </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
