@{
    ViewData["Title"] = "Wachtwoord resetten";
}

<div class="semipaint">
    <!-- lege div met achtergrond -->
</div>

<div class="semicontent">
    <div class="form">
        <h2>@ViewData["Title"]</h2>
        <p>
            Controleer uw e-mail om het wachtwoord te resetten.
        </p>
    </div>
</div>
