@*
    Lockout.cshtml
    Auteur: Tako Lansbergen, Novi Hogeschool
    Studentnr.: 800009968
    Leerlijn: Praktijk 2
    Datum: 24 dec 2019
*@

@{
    ViewData["Title"] = "Locked out";
}

<div class="semipaint">
    <!-- lege div met achtergrond -->
</div>

<div class="semicontent">
    <div class="form">
        <header>
            <h2 class="text-danger">@ViewData["Title"]</h2>
            <p class="text-danger">This account has been locked out, please try again later.</p>
        </header>
    </div>
</div>
