@*
    ResetPasswordConfirmation.cshtml
    Auteur: Tako Lansbergen, Novi Hogeschool
    Studentnr.: 800009968
    Leerlijn: Praktijk 2
    Datum: 24 dec 2019
*@

@{
    ViewData["Title"] = "Wachtwoord resetten";
}

<div class="semipaint">
    <!-- lege div met achtergrond -->
</div>

<div class="semicontent">
    <div class="form">
        <img class="headerback" src="~/img/header.png" alt="Novi Kunstuitleen">
        <br /><br />
        <p>
            Het wachtwoord is gereset, klik <a asp-action="Login"><b>hier</b></a> om in te loggen.
        </p>
    </div>
</div>
