@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="semipaint">
    <!-- lege div met achtergrond -->
</div>

<div class="semicontent">
    <h2>@ViewData["Title"]</h2>
    <p>
        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
    </p>
</div>
