@*
    _HeaderPartial.cshtml
    Auteur: Tako Lansbergen, Novi Hogeschool
    Studentnr.: 800009968
    Leerlijn: Praktijk 2
    Datum: 24 dec 2019
*@

@using Microsoft.AspNetCore.Identity
@using NoviKunstuitleen.Data
@inject SignInManager<NoviArtUser> SignInManager
@inject UserManager<NoviArtUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <header class="header box-shadow">

        <div class="headerimage">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img class="headerback" src="~/img/header.png" alt="Novi Kunstuitleen"></a>
        </div>

        <div class="userinfo">

            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <ul>
                    <li>Gebruiker: <a asp-area="" asp-controller="Manage" asp-action="Manage" title="Manage">@User.FindFirst("DisplayName").Value</a></li>
                    <li>Ingelogd als: <b>@User.FindFirst("Type").Value</b></li>
                    <li><button type="submit" class="link-btn">Uitloggen</button></li>
                </ul>
            </form>
        </div>
    </header>
}


