@using Microsoft.AspNetCore.Identity
@using NoviKunstuitleen.Data
@inject SignInManager<NoviUser> SignInManager
@inject UserManager<NoviUser> UserManager


@if (SignInManager.IsSignedIn(User))
{


    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <ul>
            <li>Gebruiker: @User.Identity.Name</li>
            <li>Ingelogd als: <b>@(User.FindFirst("NoviUserType").Value)</b></li>
            <li><button type="submit" class="link-btn">Uitloggen</button></li>
        </ul>
        
    </form>

    <!-- MANAGE PROFILE: -->
    <!-- <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">()</a> -->



}
else
{
    <p></p>
}

