@model ErrorViewModel
@{
    ViewData["Title"] = "Melding";
}

<div class="fullcontent">
    <br/>
    @if (Model != null)
    {
        if (Model.Message != null)
        {
            <p>@Model.Message</p>
        }
        else
        {
            <p>Er heeft zich een onbekende fout voorgedaan</p>
        }

        if (Model.ReturnToController != null && Model.ReturnToAction != null)
        {
            <div>
                <a asp-controller="@Model.ReturnToController" asp-action="@Model.ReturnToAction">Terug</a>
            </div>
        }
    }
</div>

