@*
    _WalletPartial.cshtml
    Auteur: Tako Lansbergen, Novi Hogeschool
    Studentnr.: 800009968
    Leerlijn: Praktijk 2
    Datum: 11 feb 2020
*@

@model NoviKunstuitleen.Models.ManageViewModels.WalletViewModel

<br />
<h5>Uw  wallet:</h5>
<table>
    <tr>
        <td><b>Wallet adres:</b></td>
    </tr>
    <tr>
        <td>@Model.Address</td>
    </tr>
</table>
<table>
    <tr>
        <td><b>Saldo (ETH):</b></td>
    </tr>
    <tr>
        <td>@Model.Balance</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td><b>Inleggen:</b></td>
    </tr>
    <tr>
        <td>Maak ethereum over naar adres: @Model.Address</td>
    </tr>
</table>
<table>
    <tr>
        <td><b>Overschrijven / opnemen:</b></td>
    </tr>
    <tr>
        <td>
            <form asp-action="Withdraw" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <div class="form-group">
                        <label asp-for="WithdrawAmount" class="control-label"></label>
                        <input asp-for="WithdrawAmount" class="form-control" placeholder="Bedrag in ETH, gescheiden door een punt (bijv. 1.301415)" />
                        <span asp-validation-for="WithdrawAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WithdrawAddress" class="control-label"></label>
                        <input asp-for="WithdrawAddress" class="form-control" placeholder="Ethereum adres van de ontvanger (bijv. 0xEFC872Bd6cF2aC2969b883acA2065EE128694a07)" />
                        <span asp-validation-for="WithdrawAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Verstuur" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </td>
    </tr>
    
</table>
