@*
    Manage.cshtml
    Auteur: Tako Lansbergen, Novi Hogeschool
    Studentnr.: 800009968
    Leerlijn: Praktijk 2
    Datum: 15 feb 2020
*@

@model NoviKunstuitleen.Models.ManageViewModels.ManageViewModel
@{
    ViewData["Title"] = "Uw profiel";
}

<div class="fullcontent">
    <div>
        <h5>Uw gegevens:</h5>
        <ul>
            <li>Weergavenaam: <b>@Model.User.DisplayName</b></li>
            <li>Gebruikersnaam: <b>@Model.User.UserName</b></li>
            <li>Accounttype: <b>@Model.User.Type.ToString()</b></li>
            @if (Model.User.Type == NoviUserType.Medewerker || Model.User.Type == NoviUserType.Student)
            {
                <li>Novi-nummer: <b>@Model.User.NoviNumber</b></li>
            }
            <li><a asp-action="ChangePassWord">Wijzig uw wachtwoord</a></li>
            @if (Model.User.Type != NoviUserType.Root)
            {
                <li><a asp-action="DeleteSelf">Verwijder uw account</a></li>
            }
            <li>&nbsp;</li>
        </ul>
    </div>
    <hr />
    <div>
        <!-- ADMIN/ROOT -->
        @if (Model.User.Type == NoviUserType.Admin || Model.User.Type == NoviUserType.Root)
        {
            <partial name="_AdminDataPartial" model='new AdminDataViewModel { Users = Model.DBContext.Users.ToList<NoviArtUser>(), ArtPieces = Model.DBContext.NoviArtPieces.ToList<NoviArtPiece>(), Wallets = Model.Wallets }' />
        }
        <br />
        <!-- MEDEWERKER -->
        @if (Model.User.Type == NoviUserType.Medewerker)
        {
            <partial name="_MedewerkerDataPartial" model='new MedewerkerDataViewModel { LettedPieces = Model.DBContext.NoviArtPieces.Include(n => n.Lesser).Include(n => n.Lessee).Where(a => a.Lesser.Id == Model.User.Id).ToList() }' />
            <hr />
            <partial name="_WalletPartial" model='new WalletViewModel { Address = Model.Wallets.SingleOrDefault(w => w.UserID == Model.User.Id)?.Address, Balance = Model.Wallets.SingleOrDefault(w => w.UserID == Model.User.Id)?.Balance ?? 0m }' />
        }
        <br />
        <!-- STUDENT -->
        @if (Model.User.Type == NoviUserType.Student)
        {
            <partial name="_StudentDataPartial" model='new StudentDataViewModel { RentedPieces = Model.DBContext.NoviArtPieces.Include(n => n.Lesser).Include(n => n.Lessee).ToList().Where(a => a.Lessee?.Id == Model.User.Id).ToList() }' />
            <hr />
            <partial name="_WalletPartial" model='new WalletViewModel { Address = Model.Wallets.SingleOrDefault(w => w.UserID == Model.User.Id)?.Address, Balance = Model.Wallets.SingleOrDefault(w => w.UserID == Model.User.Id)?.Balance ?? 0m, WithdrawAmount = 0.00 }' />
        }

    </div>
    <hr />
    <div>
        <a asp-controller="Home" asp-action="Index">Terug</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
