@model NoviKunstuitleen.Models.HomeViewModels.DetailViewModel

@{
    ViewData["Title"] = "Detail";
}

<div class="fullcontent">
    <div class="highlighted">
        <h3>@Model.ArtPiece.Title</h3>
        <div class="highlightedcontent">
            <partial name="_ItemContentPartial" model='new ItemContentViewModel(Model.ArtPiece, Model.Lesser, title: false, descrption: true)' />
        </div>

        <div class="highlightedimage">
            <partial name="_ItemImagePartial" model='new ItemImageViewModel(Model.ArtPiece.ImageContent, Model.ArtPiece.ImageType, highlight: true)' />

        </div>

        <div class="clear">
            <!-- lege div voor clear -->
        </div>
    </div>
    <div>
        &nbsp;&nbsp;<a asp-action="Index">Terug</a>
    </div>
</div>
